.main {
  min-height: 100vh;
  padding: 4rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 1rem;
  font-size: 4rem;
}

.paragraph {
  margin: 0;
  font-size: 1.85rem;
  text-align: center;
}

.paragraph a {
  color: #2563eb;
  font-weight: 900;
}

.card {
  margin: 2rem;
  padding: 1.5rem;
  text-align: center;
  border: 3px solid black;
  border-radius: 0px;
  font-size: 1.5rem;
}
